.screen {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.logos {
		display: flex;
		align-items: center;

		.logo {
			max-width: 130px;
			margin: 0 0.5rem;
		}
	}
}
